* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
  color: #333333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


nav {
  background:#1291DD;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #366c8b;
}

section {
  padding: 40px;
  display: none;
}

section.active {
  display: flex;
  flex-direction: column;
  justify-content: center; 
}


.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}


section.active {
  display: block;
}

.card {
  background: white;
  padding: 25px;
  margin-top: 15px;
  border-radius: 12px;
}

/* HOME */
.home-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  animation: fadeUp 0.8s ease;
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #1291DD;
  animation: popIn 0.8s ease;
}

/* PROJECT */
.project-item img {
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

/* MEDIA */
.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.media-item img,
.media-item video {
  width: 100%;
  border-radius: 8px;
}

/* ANIMATION */
@keyframes fadeUp {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes popIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

footer {
  background: #1291DD;
  color: white;
  padding: 20px;
  text-align: center;
}
